.container{
    background-color: orange;
    display: flex;
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */
    justify-content: center;
    
    
}
.container .item{
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: royalblue;
    border: 2px solid black;
    box-sizing: border-box;
    /* text-align: center;
     */
    display: flex;
    justify-content: center;
    align-items: center;
}