.container .item{
    width: 100px;
    height:  100px;
    background-color: royalblue;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: 1s;
}
.container .item:nth-child(1):hover{
    width: 200px;
    background-color: orange;

}
.container .item:nth-child(2) {
    transform : rotate(45deg) scale(0.5);
}
.container .item:nth-child(3) {
    
    transform : perspective(300px) rotateY(45deg);

}